<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/./Pokezon/style.css" type="text/css">
    <title>Pokezon Search Result</title>
</head>
<body>
    <!-- NAV BAR -->
    <ul>
        <li><a href="index.ejs">Home</a></li>
        <li><a href="history.ejs">History</a></li>
    </ul>

    <h1>Pokezon Search Results</h1>

    <h2>1 result for "<%- name %>"</h2>
    <hr>
    <div>
        <h3>Result</h3>
        <hr>
        <h3><%- name %></h3>
        <%- image> <!-- image-->
        <h3>Price: <%- price></h3>
        <form action="/cart.ejs" method="post">
            <input type="submit" value="Add to Cart"/>
        </form>
        <h3>Product Details</h3>
        <%- properties>

    </div>

    <hr>
    <img src = "/Pokezon/pokeball.png" id="center" width="50" height="50"> 
    
</body>
</html>