<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/./Pokezon/style.css" type="text/css">
    <title>Pokezon Search Result</title>
</head>
<body>
    <!-- NAV BAR -->
    <div id="nav-bar-background">
        <h1>Pokezon</h1>
        <ul id="nav-bar">
            <li class="nav-bar-element"><a href="index">Home</a></li>
            <li class="nav-bar-element"><a href="history">History</a></li>
            <li class="nav-bar-element"><a href="cart">Cart</a></li>
        </ul>
    </div>

    <h1>Pokezon Search Results</h1>

    <div id = "grey">
        <h2>1 result for "<%- name %>"</h2>
        <hr>
        <div>
            <h3>Result</h3>
            <hr>
            <h3><%- name %></h3>
            <%- image> <!-- image-->
            <h3>Price: <%- price></h3>
            <form action="/cart" method="post">
                <input type="submit" value="Add to Cart" id = "submitButton"/>
            </form>
            <h3>Product Details</h3>
            <%- properties>

        </div>
    </div>  

    <hr>
    <img src = "/Pokezon/pokeball.png" id="center" width="50" height="50"> 
    
</body>
</html>