<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Pokezon Search Result</title>
</head>
<body>
    <!-- NAV BAR -->
    <div id="nav-bar-background">
        <h1>Pokezon</h1>
        <ul id="nav-bar">
            <li class="nav-bar-element"><a class="link" href="/">Home</a></li>
            <li class="nav-bar-element"><a class="link" href="cart">Cart</a></li>
        </ul>
    </div>

    <div id = "greyResults">
        
        <h1>Pokezon Search Results</h1>
        <h2>1 result for "<%- name %>"</h2>
        <hr>
        <div>
            <h3>Result</h3>
            <hr>
            <h3><%- name %></h3>
            <img src="<%- image %>" alt="<%- name%>"><img src="<%- imageBack %>" alt="<%- name%>">
            <h3>Price: $<%- price %></h3>
            <div class="button-container">
                <form action="/cart" method="post">
                    <input type="hidden" name="pokemonName" value="<%- name %>">
                    <input type="hidden" name="image" value="<%- image %>">
                    <input type="hidden" name="price" value="<%- price %>">
                    <input type="submit" value="Add to Cart" id="submitButton" name="submitButton"/>
                </form>
                <form action="/back" method="post">
                    <input type="submit" value="Back"/>
                </form>
            </div>

            <h3>Product Details</h3>
            <%- items %>
            <h3>Reviews</h3>
            <%- properties %>

        </div>
    </div>  

    <hr>
    <img src = "pokeball.png" id="center" width="50" height="50"> 
    
</body>
</html>